@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Test pobierania lokalizacji</h1>
</div>



<html>
<body>

    

    <script>
        var loc = document.getElementById("Lat");
        var loc2 = document.getElementById("Lon");
        var locform = document.getElementById("LocationForm");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                loc.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            loc.value = position.coords.latitude;
            loc2.value = position.coords.longitude;
            locform.submit();
        }
    </script>
</body>
</html>

