@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Test pobierania lokalizacji</h1>
</div>



<html>
<body>

    <p>Click the button to get your coordinates.</p>

    <button onclick="getLocation()">Pobierz Lokalizację!</button>

    <p id="demo"></p>

    <script>
        var loc = document.getElementById("demo");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                loc.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            loc.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
        }
    </script>
</body>
</html>

