@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WeatherAPP</h1>
    <hr />
    <div class="row">
        <div class="col-6">
            <h4>Znajdź pogodę dla swojego miasta</h4>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control mb-2" placeholder="Miasto">
                    <button type="submit" class="btn btn-outline-primary mb-2">Szukaj</button>
                </div>
            </form>
            
        </div>

        <div class="col-6">
            <h4>Zaloguj się za pomocą Facebook'a aby zapisać swoje wyszukiwania</h4>
            <hr />
            <button class="btn btn-success">
                <i class="fab fa-facebook"></i>
                <span>Zaloguj</span>
            </button>

            <button class="btn btn-danger">
                <i class="fab fa-facebook"></i>
                <span>Zarejestruj</span>
            </button>

        </div>
    </div>
</div>
